<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :イベント名 %><br>
    <%= f.text_field :eventName %>
  </div>
  <div class="field">
    <%= f.label :開催日時 %><br>
    <%= f.datetime_select(:startEvent, :use_month_numbers => true) %>
  </div>
  <div class="field">
    <%= f.label :終了日時 %><br>
    <%= f.datetime_select(:endEvent, :use_month_numbers => true) %>
  </div>
  <div class="field">
    <%= f.label :開催場所 %><br>
    <%= f.text_field :eventPlace %>
  </div>
  <div class="field">
    <%= f.label :特記事項 %><br>
    <%= f.text_area(:eventComment,:maxlength => "200") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
