<p id="notice"><%= notice %></p>

<p>
  <strong>イベント名:</strong>
  <%= @event.eventName %>
</p>

<p>
  <strong>開催日時:</strong>
  <%= @event.startEvent.strftime('%Y年%m月%d日(%a)  %H:%M:%S') %>
</p>

<p>
  <strong>終了日時:</strong>
  <%= @event.endEvent.strftime('%Y年%m月%d日(%a) %H:%M:%S') %>
</p>

<p>
  <strong>開催場所:</strong>
  <%= @event.eventPlace %>
</p>

<p>
  <strong>特記事項:</strong>
  <%= @event.eventComment %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
