<p id="notice"><%= notice %></p>

<p>
  <strong>イベント名:</strong>
  <%= @event.eventName %>
</p>

<p>
  <strong>開催日時:</strong>
  <%= @event.startEvent.strftime('%Y年%m月%d日(%a) %H:%M') %>
</p>

<p>
  <strong>終了日時:</strong>
  <%= @event.endEvent.strftime('%Y年%m月%d日(%a) %H:%M') %>
</p>

<p>
  <strong>開催場所:</strong>
  <%= @event.eventPlace %>
</p>

<p>
  <strong>特記事項:</strong>
  <%= @event.eventComment %>
</p>

<%= link_to '編集', edit_event_path(@event) %> |
<%= link_to '参加', "/join_events/new?event_id=#{@event.id}" %> |
<%= link_to '参加者一覧', "/join_events?event_id=#{@event.id}" %>
<%#= link_to 'List', join_events_path %> |
<%= link_to '戻る', events_path %> 
