<p id="notice"><%= notice %></p>

<p>
  <strong>Eventname:</strong>
  <%= @event.eventName %>
</p>

<p>
  <strong>Eventdate:</strong>
  <%= @event.eventDate %>
</p>

<p>
  <strong>Eventplace:</strong>
  <%= @event.eventPlace %>
</p>

<p>
  <strong>Eventcomment:</strong>
  <%= @event.eventComment %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
